/* Pagination elementlarini ushlab turish */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes recording-animation {
  0% {
    box-shadow: 0 0 0 1px rgba(18, 212, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 8px rgba(45, 77, 219, 0.6);
  }
}

.animated {
  animation-name: recording-animation;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
}


